<%- include('header') -%>

<div class="spurningar">
  <% if (spurningar.length === 0) { %>
    <p>Engar spurningar fundust í þessum flokki.</p>
  <% } else { %>
    <% spurningar.forEach((sp) => { %>
      <div class="spurning">
        <h2><%= sp.spurning %></h2>
        <% if (sp.svor) { %>
          <ul>
            <% sp.svor.forEach((s) => { %>
              <li>
                <button
                  type="button"
                  class="svar-takki"
                  data-correct="<%= s.correct ? 'true' : 'false' %>"
                >
                  <%= s.text %>
                </button>
              </li>
            <% }) %>
          </ul>
        <% } %>
      </div>
    <% }) %>
  <% } %>
</div>
<script src="/category-check.js"></script>


<%- include('footer') -%>
