<%- include('header') -%>

<% if (errors && errors.length > 0) { %>
  <div id="error-box" class="error-box">
    <strong>Vinsamlegast lagið eftirfarandi villur:</strong>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error %></li>
      <% }); %>
    </ul>
  </div>
<% } else { %>
  <div id="error-box" class="error-box hidden">
    <strong>Vinsamlegast lagið eftirfarandi villur:</strong>
    <ul id="error-list"></ul>
  </div>
<% } %>

<form id="question-form" method="post" action="/form" novalidate>
  <div class="form-group">
    <label for="category">Veldu flokk:</label>
    <select id="category" name="name" required>
      <% categories.forEach((category) => { %>
        <option value="<%= category.name %>" <%= formData?.name === category.name ? "selected" : "" %>>
          <%= category.name %>
        </option>
      <% }) %>
    </select>
  </div>

  <div class="form-group">
    <label for="text">Hver er spurningin?</label>
    <textarea id="text" name="text" rows="2" required minlength="10" maxlength="300"><%= formData?.text ?? '' %></textarea>
    <small id="text-error" class="error-message hidden"></small>
  </div>  

  <fieldset>
    <legend>Svarmöguleikar, merktu við rétt svar</legend>
    
    <% for(let i = 1; i <= 4; i++) { %>
      <div class="form-group">
        <label for="option<%= i %>">Svarmöguleiki <%= i %>:</label>
        <input type="text" id="option<%= i %>" name="option<%= i %>" required minlength="10" maxlength="300"
          value="<%= formData?.['option' + i] ?? '' %>">
        <small id="option<%= i %>-error" class="error-message hidden">Svarið verður að vera á milli 10 og 300 stafa.</small>

        <label>
          <input type="radio" name="rett_svar" value="<%= i %>" <%= formData?.rett_svar == i ? 'checked' : '' %> required>
          Rétt svar?
        </label>
      </div>
    <% } %>
  </fieldset>

  <p>Bættu við spurningu í flokk hér</p>

  <div class="bua-til">
    <button type="submit">Búa til</button>
  </div>
  <div class="aftur-heim">
    <a href="/">Aftur heim</a>
  </div>
</form>

<%- include('footer') -%>
<script src="/error.js"></script>
