<%- include('header') -%>

<form method="post" action="/form">
  <div>
    <label for="category">Veldu flokk:</label>
    <select id="category" name="category" required>
      <% categories.forEach((category) => { %>
        <option value="<%= category.name %>"><%= category.name %></option>
      <% }) %>
    </select>
  </div>
  <div>
    <label for="text">Hver er spurningin?</label>
    <textarea id="text" name="text" rows="2" required></textarea>
  </div>
  <fieldset>
    <legend>Svarmöguleikar, merktu við rétt svar</legend>
    
    <% for(let i = 1; i <= 4; i++) { %>
      <div class="svar">
        <label for="option<%= i %>">Svarmöguleiki <%= i %>:</label>
        <input type="text" id="option<%= i %>" name="option<%= i %>" required>

        <label>
          <input type="radio" name="rett_svar" value="<%= i %>" required>
          Rétt svar?
        </label>
      </div>
    <% } %>
  </fieldset>

  <p>Bættu við spurningu í flokk hér</p>

  <div class="bua-til">
    <button type="submit">Búða til</button>
  </div>
  <div class="aftur-heim">
    <a href="/">Aftur heim</a>
  </div>
</form>

<%- include('footer') -%>
